a.white-btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 2px;
  border: 1px solid #fff;
  margin-top:10px;
}
a.white-btn:hover {
  text-decoration: none;
}
span.github-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../assets/images/github-icon.svg');
  margin-right: 4px;
  position: relative;
  top: 3px;
}
@media(min-width:576px) {
  span.github-icon {
    width: 18px;
    height: 18px;
  }
  a.white-btn {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 4px;
    float:right;
    margin-top: 0;
  }
}
