<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h2>Multi Range Slider</h2>
        <span>A reusable angular component</span>
      </div>
      <div class="col">
        <a class="white-btn" href="https://github.com/npnm/NpnSlider"><span class="github-icon"></span>Github</a>
      </div>
    </div>
  </div>
</header>
<div class="container demo-container">
  <h4>What is Multi Range slider?</h4>
  <p>It is a range slider with two handler. You can select a range of values at a time.
  </p>
  <h4 style="margin-top:15px;">Example1</h4>
  <div class="well">
    <div class="demo">
      <form>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Release Year:</label>
          <div class="col-sm-8">
            <npn-slider [min]="2006" [max]="2020" [showStepIndicator]="false"
              (onChange)="onSliderChange1($event)">
            </npn-slider>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <p>SelectedRange: [{{currentValues[0]}} - {{currentValues[1]}}]</p>
            <p>Step: 1</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h4 style="margin-top:15px;">Example2</h4>
  <div class="well">
    <div class="demo">
      <form>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Price Range(Rs.):</label>
          <div class="col-sm-8">
            <npn-slider [min]="minValue2" [max]="5000"
            [minSelected]="currentValues2[0]" [maxSelected]="currentValues2[1]" [step]="step2"
            [showStepIndicator]="true"
            (onChange)="onSliderChange2($event)">
            </npn-slider>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <!--<input type="text" [(ngModel)]="minValue2"name="minValue2"/>-->
            <p>SelectedRange: [{{currentValues2[0]}} - {{currentValues2[1]}}]</p>
            <p>Step: {{step2}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
