<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h2>NpnSlider</h2>
        <span>A Multi Range Slider Component</span>
      </div>
      <div class="col">
        <a class="white-btn" href="https://github.com/npnm/NpnSlider"><span class="github-icon"></span>Github</a>
      </div>
    </div>
  </div>
</header>
<div class="container demo-container">
  <p>NpnSlider is a multi range slider component using <em>Angular <small>v6.0</small></em>. It can be used either as a multi range or a single range slider. By default, it is a multi range slider.
  </p>
  <div class="examples">
    <h4>Basic Slider <small><i>(Multi Range)</i></small></h4>
    <div class="well">
      <div class="well-body">
        <npn-slider [min]="2006" [max]="2020" (onChange)="onSliderChange1($event)">
        </npn-slider>
      </div>
      <div class="code-snippet">
        <div markdown ngPreserveWhitespaces>
          ```html
          &lt;npn-slider [min]="2006" [max]="2020" (onChange)="onSliderChange($event)"&gt;&lt;/npn-slider&gt;
          ```
        </div>
      </div>
    </div>
  </div>
  <div class="examples">
    <h4>Single Range Slider</h4>
    <div class="well">
      <div class="well-body">
        <npn-slider [multiRange]="false" [min]="2006" [max]="2020" [minSelected]="2010">
        </npn-slider>
      </div>
      <div class="code-snippet">
        <div markdown ngPreserveWhitespaces>
          ```html
          &lt;npn-slider [multiRange]="false" [min]="2006" [max]="2020" [minSelected]="2010"&gt;&lt;/npn-slider&gt;
          ```
        </div>
      </div>
    </div>
    <p class="notes">By using <code>multiRange</code> property, you can convert the slider as a single range slider</p>
  </div>
  <div class="examples">
    <h4>Multi Range Slider - with preselected values</h4>
    <div class="well">
      <div class="well-body">
        <npn-slider [min]="1000" [max]="5000" [minSelected]="2000" [maxSelected]="4000" [step]="500"
          [showStepIndicator]="true">
        </npn-slider>
      </div>
      <div class="code-snippet">
        <div markdown ngPreserveWhitespaces>
          ```html
          &lt;npn-slider [min]="1000" [max]="5000"
                      [minSelected]="2000" [maxSelected]="4000"
                      [step]="500"
                      [showStepIndicator]="true"&gt;
          &lt;/npn-slider&gt;
          ```
        </div>
      </div>
    </div>
  </div>
  <div class="examples">
      <h4>Disabled Slider</h4>
      <div class="well">
        <div class="well-body">
          <npn-slider [min]="1000" [max]="5000" disabled>
          </npn-slider>
        </div>
        <div class="code-snippet">
          <div markdown ngPreserveWhitespaces>
            ```html
            &lt;npn-slider [min]="1000" [max]="5000" disabled&gt;&lt;/npn-slider&gt;
            ```
          </div>
        </div>
      </div>
    </div>
    <div class="examples">
        <h4>Slider With No Tooltip and Values</h4>
        <div class="well">
          <div class="well-body">
            <npn-slider hide-tooltip hide-values [min]="1000" [max]="1500" [minSelected]="1200" [multiRange]="false">
            </npn-slider>
          </div>
          <div class="code-snippet">
            <div markdown ngPreserveWhitespaces>
              ```html
              &lt;npn-slider hide-tooltip hide-values [min]="1000" [max]="2000" [minSelected]="1200" [multiRange]="false"&gt;&lt;/npn-slider&gt;
              ```
            </div>
          </div>
        </div>
      </div>
</div>
