@import '~bootstrap/dist/css/bootstrap.min.css';/**/

html,
body {
    height: 100%;
    font-size:16px;
}

.container-fluid{
    height: 100%;
}

header {
    padding: 20px 10px 14px;
    background: #71b357;
    color: #fff;
    font-size: 14px;
}

header h2{
  font-size: 21px;
}

@media (min-width:576px){
  header{
    padding: 25px 10px;
  }
  header h2{
    font-size: 24px;
  }
}
@media (min-width:768px){
  header h2{
    font-size: 30px;
  }
}

header h1,
h2,
h3 {
    margin: 0;
}

.demo-container {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: calc(100% - 104px);
    color:#777;
}

h4{
    margin: 5px 0 5px 0;
    font-size:18px;
}
p{
    padding:0;
    margin:0 0 5px;
}

.demo-container > p:first-child{
  margin: 10px 0;
}

.demo{
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    padding: 15px 10px 5px;
    box-sizing: border-box;
}

.demo .col-form-label{
    padding-top:0;
    font-weight: 600;
}

.well{
    background-color: #f4f7f3;
}

